absl-py
astunparse
beautifulsoup4
bs4
cached-property
cachetools
certifi
chardet
click
colorama
cycler
dill
dnspython
et-xmlfile
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
Jinja2
joblib
keras
Keras-Preprocessing
kiwi
Markdown
MarkupSafe
matplotlib
mock
nltk
numpy
oauthlib
odfpy
openpyxl
opt-einsum
osmnx
pandas
Pillow
pip
protobuf
pyasn1
pyasn1-modules
pymongo
pyparsing
python-dateutil
pytesseract
pytz
PyYAML
requests
requests-oauthlib
rsa
selenium
setuptools
six
scikit-learn
termcolor
tqdm
typing-extensions
urllib3
Werkzeug
wheel
wrapt
xlrd
xlwt
xml-python
yattag
pdfminer
PyPDF2
opencv-python
# tensorboard
# tensorboard-plugin-wit
# tensorflow
# tensorflow-estimator